@charset "UTF-8";


@font-face{
	font-family:'StalinistOne-Regular';
	src: url('../fontes/StalinistOne-Regular.ttf') format('truetype');
	font-weight:normal;
	}

	@font-face{
	font-family:'JollyLodger-Regular';
	src: url('../fontes/JollyLodger-Regular.ttf') format('truetype');
	font-weight:normal;
	}

	@font-face{
	font-family:'BlackOpsOne-Regular';
	src: url('../fontes/BlackOpsOne-Regular.ttf') format('truetype');
	font-weight:normal;
	}

	@font-face{
	font-family:'RacingSansOne-Regular';
	src: url('../fontes/RacingSansOne-Regular.ttf') format('truetype');
	font-weight:normal;
	}

/*Tipos de format()
-opentype(otf)
-truetype (ttf)
-embeded-opentype
-truetype-aat (Apple Advanced Typography)
*/

*/Criando variavel*/

:root {
	--cor0: #FFE900;
	--cor1: #558BC2;
	--cor2: #188646;
	--cor3: #F66429;
	--cor4: #E7283A;
	--cor5: #233D8C;
	--fonte-padrão:Arial,Verdana, Helvetica, sans-serif;
	--fonte-destaque: 'Bebas Neue', cursiva;
	--fonte-android:'Andoid', 'cursiva';
}

*{

	margin:0px;
	padding:0px;

}

body{
	background-color: white;
	font-family: Arial,Verdana, Helvetica, sans-serif;
}
a.externo::after{

	content: "\1F517";

}
main p{
	margin:15px 0;
	text-indent: 30px;

}
main strong{
	color: #FFE900;
	background-color: #F66429; 
	font-weight:bold;
	
}

main a{	
	text-decoration:none;
	font-weight: bold;
	color: #FFE900;
	background-color: #F66429;
	padding: 2px 6px;

}
main a:hover{
	text-decoration:underline;
	color:#558BC2;
}

header{

	background-color:#18865f;
	background-size:100% 190px;
	min-height: 150px;
	text-align: center;
	padding-top: 40px;
	font-size: 1em;
	line-height: 2em;
}


header > h1{
	color: white;
	font-family: 'RacingSansOne-Regular';
	margin-bottom: 30px;
	font-size: 3em;
	margin-bottom: 20px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
	text-weight:normal;
		
}	
	
header > p{
	
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size:1.2em;	
	color: white;
	text-align:center;
	max-width: 600px;
	padding-right: 10px;
	padding-left: 10px;
	margin: auto;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
	margin-bottom:20px;
}


nav{
	background-color: #EE8931;
	padding:10px;
	box-shadow: 0px, 7px, 7px, rgba(0, 0, 0, 0.192);
}
nav a{
	color:white;
	padding: 10px;
	border-radius:5px;
	text-decoration:none;
	font-weight: bold;
	transition-duration:0.5s;
}
nav > a:hover{
	background-color:#E7283A;
	color: #233D8C;

}

main{
	padding: 20px;
	min-width:300px;
	max-width:1000px;
	margin:auto;
	margin-bottom:30px;
	background-color: white;
	box-shadow: 0px 0px 10px black;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	
}

main h1{

	font-family:'StalinistOne-Regular';
	color:#233D8C;
}

main h2{
	
	font-family:'BlackOpsOne-Regular';
	background-color: #233D8C;
	font-size: 1.3em;
	background-image: linear-gradient(to right,#558BC2,transparent);
	text-indent: 8px;
	text-weight:normal;
	margin:10px 0px 10px 0px;
	}

main img{

	width:100%;
	box-shadow: 5px 5px 5px black;
	}
main img.pequena {
	max-width: 350px;
	display: block;
	margin: auto;
	box-shadow: 5px 5px 5px rgb(55, 54, 54);

} 

footer{

	background-color: #063d1e;
	color: white;
	text-align: center;
	font-size: 8px;
	padding: 5px;
}
.footer a{
	color:white;
	font-weight: bold;
	text-decoration: none;
}
.footer a:hover{
	text-decoration:underline;
	color: #838be1;
}

div.videos{
	background-color:#F66429;
	margin: 0px -20px 30px -20px;
	padding: 20px;
	padding-bottom:50%;
	position: relative;

}
div.videos>iframe{

	position: absolute;
	top:5%;
	left:5%;
	width:90%;
	height:90%;

}

aside > h3{
	color: white;
	background-color:#F2B279;
	margin:-10px -10px 0px -10px;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	box-shadow: 3px 3px 8px black;

}
aside > ul{
	list-style-type:"\2714\00A0\00A0";
	list-style-position: inside;
	columns: 2;


}
aside{

	background-color: #F1F2D5;
	border-radius: 10px;
	padding: 10px;

}